<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CARA - Login</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <section id="header">
        <a href="/"><img src="../img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li id="lg-person"><a href="/login" class="active"><i class="far fa-user"></i></a></li>
                <li id="lg-bag"><a href="/cart"><i class="far fa-shopping-bag"></i></a></li>
                <a href="#" id="close"><i class="far fa-times"></i></a>
            </ul>
        </div>
        <div id="mobile">
            <a href="/cart"><i class="far fa-shopping-bag"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>

    <section id="form-details">
        <form action="/login" method="POST">
            <h3>Login</h3>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit" class="normal">Login</button>
            <p>If you don't have an account, please <a href="/signup">Sign Up</a>.</p>
        </form>
    </section>
    
    <script src="../script.js"> </script>
</body>
</html>
 